<footer class="border-top footer text-muted bg-light">
    <div class="container text-center">
        &copy; 2021 - Vestager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

