<nav class="col-12 d-none d-md-block bg-light sidebar shadow-sm h-100 p-0" id="sidebarMenu">
    <div class="sidebar-sticky h-100">
        <ul class="nav flex-column">
           <li class="nav-item border-bottom">
                <a class="text-muted text-decoration-none p-2 ml-2 d-block bold" href="/Home">
                    <span><i class="fas fa-home"></i> Home</span>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a class="text-muted text-decoration-none p-2 ml-2 d-block" href="/Vestidos">
                    <span><i class="fas fa-tshirt"></i> Vestidos</span>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a class="text-muted text-decoration-none p-2 ml-2 d-block" href="/Provas">
                    <span><i class="fas fa-calendar-alt"></i> Provas</span>
                </a>
            </li>
            <li class="nav-item border-bottom w-100">
                <a class="text-muted text-decoration-none p-2 ml-2 d-block" href="/Clientes">
                    <span><i class="fas fa-users"></i> Clientes</span>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a class="text-muted text-decoration-none p-2 ml-2 d-block" href="/Locacoes">
                    <span><i class="fas fa-calendar-check"></i> Locações</span>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a class="text-muted text-decoration-none p-2 ml-2 d-block" href="/Account">
                    <span><i class="fas fa-user"></i> Usuário</span>
                </a>
            </li>
        </ul>
    </div>
</nav>