<nav class="col-12 d-none d-md-block bg-light sidebar shadow-sm h-100" >
    <div class="sidebar-sticky h-100">
        <ul class="nav flex-column">
           <li class="nav-item p-1 m-1">
                <a class="text-muted" href="/Home">
                    <span><i class="fas fa-home"></i> Home</span>
                </a>
            </li>
            <li class="nav-item p-1 m-1">
                <a class="text-muted" href="/Vestidos">
                    <span><i class="fas fa-tshirt"></i> Vestidos</span>
                </a>
            </li>
            <li class="nav-item p-1 m-1">
                <a class="text-muted" href="/Provas">
                    <span><i class="fas fa-calendar-alt"></i> Provas</span>
                </a>
            </li>
            <li class="nav-item p-1 m-1">
                <a class="text-muted" href="/Clientes">
                    <span><i class="fas fa-users"></i> Clientes</span>
                </a>
            </li>
            <li class="nav-item p-1 m-1">
                <a class="text-muted" href="Locacoes">
                    <span><i class="fas fa-calendar-check"></i> Locações</span>
                </a>
            </li>
            <li class="nav-item p-1 m-1">
                <a class="text-muted" href="Account">
                    <span><i class="fas fa-user"></i> Usuário</span>
                </a>
            </li>
        </ul>
    </div>
</nav>